/* You can add global styles to this file, and also import other style files */

.container h1 {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .5rem;
}